.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(163, 255, 246);
}
.cardItem {
  width: 90%;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 8px;
}

.cardItem h1 {
  font-size: 18px;
}
